# Адрес проверяемого сайта. Если оставить пустым, Jenkins запросит его перед тестом.
# Пример: https://example.ru
TARGET_URL=

# Значения для ручной настройки Pipeline. Автоматическое создание задания пока не реализовано.
JENKINSFILE_REPOSITORY=https://github.com/eldar-safin/campus-tester.git
JENKINSFILE_BRANCH=main
