# Адрес проверяемого сайта. Если оставить пустым, Jenkins запросит его перед тестом.
# Пример: https://example.ru
TARGET_URL=

# Репозиторий и ветка, из которых Jenkins загружает Jenkinsfile.
JENKINSFILE_REPOSITORY=https://github.com/eldar-safin/campus-tester.git
JENKINSFILE_BRANCH=main
